.cover
    display block
    text-align center
    font-size 20px
    margin 3rem auto
    
    .cover__intro
        color: #999	

    .cover__logo
        max-width $max_width_logo
        margin-left auto
        margin-right auto

    .cover__avatar
        border-radius 0%
        margin 0 auto 1rem auto
    
